<form #user="ngForm" (ngSubmit)="onClickSubmit(user.value)">
  <div class="container content-container">
    <div class="menu-items">
      <div class="">
        <div *ngFor="let item of menuItems" [class]="'item ' + item.itemClass">
          <label>
            <input
              type="checkbox"
              (change)="changeBackgroundColors(item)"
              [value]="item.itemName"
            /><span>{{ item.itemName }}</span>
          </label>
        </div>
      </div>
      <!-- end container -->
    </div>
    <div class="form">
      <div class="form-title">
        <h2>{{ formTitle }}</h2>
      </div>

      <input type="text" name="name" placeholder="Enter Your Name" ngModel />
      <input
        type="text"
        name="favProgramming"
        placeholder="Your favourite programming language?"
        ngModel
        required="required"
      />
      <input
        type="text"
        name="favColor"
        placeholder="Enter Your Fav Color"
        ngModel
        required
      />
      <input
        type="text"
        onfocus="(this.type='date')"
        name="age"
        placeholder="Enter Your Age"
        ngModel
        required
      />

      <button type="button" class="resetBtn">Reset</button>
      <button type="submit" class="submitBtn">Submit</button>
    </div>
  </div>
</form>
